@import url('http://127.0.0.1:5501/index.css');

:root{
    --color-primario:#ffff;
    --color-secundario:#7f1710;
    --color-terciario:#f5edd6;
    --color-cuarto:#0000;
    --color-quinto:#dbffac;
    --color-sexto:#dbe3e0;
    --color-dorado:#efb810;
    --color-gris-oscuro:#636571;
    --color-azul:#1b4279;
    --fuente-base: 'Libre Franklin', sans-serif;
    --fuente-negrita: 'Libre Franklin', sans-serif;
    --fuente-calibri:'calibri', sans serif;
    --fuente-calibri-negrita:'calibri', bold;
    --fuente-Sicret-Mono-PERSONAL:'Sicret Mono PERSONAL', bold;
}

*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}

/**---HEADER--**/

header{
    box-sizing: content-box;
    position: initial;
    display: flex;
    background-color: var(--color-azul);
    justify-content: space-around;
    align-items: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--color-primario);
    height: auto;
    font-family: var(--fuente-calibri);
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo_Obersvatorio img{
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 10px;
    flex-direction:column;
    justify-content:center;
    position: initial;
}

.col-lg-9{
    position: relative;
    background-color: none;
    color: var(--color-primario);
    font-family: var(--fuente-calibri);
    font-size: 50%;
    width: 500px;
    height: 160px;
    padding: 6px;
}

.menu{
    display: flex;
    width: 100%;
    justify-content:center;
}

.menu_contenido{
    display: flex;
    height: 30%;
    width: auto;
    color: var(--color-primario);
    align-items:center;
    display: flex;
    justify-content:space-between;
    flex-direction: column-reverse;
    margin: 1rem 1rem 0rem 1rem;
    position: relative;
}

.header__menú__link{
    display: flex;
    width: auto;
    justify-content:center;
}

.btn {
    background-color: var(--color-primario);
    position: relative;
    width: 160%;
    font-family: var(--fuente-calibri-negrita);
    color: var(--color-secundario);
    border: none;
    border-radius: 5px;
    font-size: 75%;
    padding: 10px;
    margin: 2px 2px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    flex-flow: column-reverse;
  }

.btn:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    display: flex;
}

nav a{
    font-weight: 600;
    padding-right: 20px;
    display: flex;
}

nav a:hover{
    color: none;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}


.resolucion{
    width: 100%;
}

@media (max-width: 767px) {
    .desktop, .tablet {
        display: none;
    }
    .movil {
        display: block;
    }

    nav ul a {
        font-size: 16px;
        display: flex;
    }
}

/* ========== TABLET (de 768px a 1023px) ========== */
@media (min-width: 768px) and (max-width: 1023px) {
    .desktop, .movil {
        display: none;
    }
    .tablet {
        display: block;
    }
}

/* ========== ESCRITORIO (desde 1024px en adelante) ========== */
@media (min-width: 1024px) {
    .movil, .tablet {
        display: none;
    }
    .desktop {
        display: block;
    }

    .ul_menu {
        display: flex;
        width: 100%;
        height: 100%;
        top: 80px;
        left: -100%;
        text-align: center;
        margin: 10px 0;
        line-height: 30px;
    }

    nav .ul_menu a {
        font-size: 20px;
    }

    .btn:hover {
        background-color: var(--color-secundario);
        font-family: var(--fuente-calibri-negrita);
    }
}

.Título-destaque{
    color: var(--color-secundario);
}

.título{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Título_contenido {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--fuente-calibri-negrita);
    color: var(--color-secundario);
}

.separador {
  border: none;
  height: 1px;
  background-color: var(--color-gris-oscuro);
  margin: 2rem 0; /* ajusta el espacio antes y después de la línea */
}

/**----MISIÓN, VISIÓN Y VALORES----**/

.Contenido_de_lado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre bloques */
    font-family: var(--fuente-calibri);
    padding: 10px;
}

.contenido {
    flex: 1 1 300px; /* Se adapta al ancho disponible, pero mínimo 300px */
    max-width: 400px; /* Opcional: límite para que no se alargue mucho en escritorio */
    background-color: #f9f9f9; /* Opcional: para ver bien los bloques */
    height: 340px;
    padding: 10px;
    box-sizing: border-box;
}

.Título-2 {
    font-family: var(--fuente-calibri-negrita);
    color: var(--color-secundario);
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.parrafo {
    font-family: var(--fuente-calibri);
    font-size: 1rem;
    text-align: justify;
    margin: 0;
}

/**----CARRUSEL----**/

.slider{
    width: auto;
    overflow: hidden;
    padding: 2rem 0;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 280%;
    position: relative;
}

.slide-track {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    width: calc(250px * 16);
    animation: scroll 20s linear infinite;
    will-change: transform;
}

.slide-track:hover {
    animation-play-state: paused;
}

.slide-list {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX( calc(-250px * 8));
    }
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 200px;
    border-radius: 18px;
    justify-content: center;
    display: flex;
    position: relative;
}

.card-item-contenido {
    flex: 0 0 auto;
    width: 250px;
}

.card_integrante {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
}

.user-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.user-info {
    font-size: 0.95rem;
    color: black;
}

.user-name {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: black;
}

.card-item-contenido{
    justify-content: center;
    position: relative;
    width: 70%;
}

/* Animación para que el carrusel se mueva horizontalmente */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%);
    }
}

/* Responsividad */

@media (min-width: 780px) {
    .slider img{
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .card-item-contenido {
        width: 180px;
    }

    .user-image {
        height: 180px;
    }

    .user-name {
        font-size: 1rem;
    }
}

.slide-track {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/**----CONSULTA----**/

.Contenido_de_lado_Consulta_juridica{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  font-family: var(--fuente-calibri);
  padding: 10px;
}

.Consulta_juridica {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Consulta_juridica h1 {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  text-align: center;
}

.Título-3 {
  font-family: var(--fuente-calibri-negrita);
  color: var(--color-secundario);
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

.Título-CONTACTO{
  font-family: var(--fuente-calibri-negrita);
  color: var(--color-secundario);
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

.Título-nav{
 margin-bottom: 38px;
 font-family: var(--fuente-calibri-negrita);
  color: var(--color-secundario);
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

.btn_nav {
  padding: 5px 10px;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-family: var(--fuente-calibri-negrita);
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: background 0.3s ease;
}

.btn_nav:hover {
  background-color: var(--color-secundario);
  color: var(--color-primario);
}

.icono_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primario);
  padding: 5px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.icono_red {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Contenido textual uniforme */

.info {
  display: flex;
  align-items: center;
  flex-direction:column;
  gap: 10px; /* Espacio entre íconos y botón */
  flex-wrap: wrap;
}

.info_nav {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre íconos y botón */
  flex-wrap: wrap;
}


.info p {
  margin: 0 0 4px 0;
  font-size: 0.95rem;
  font-family: var(--fuente-calibri);
}

.ul_menu_horizontal {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 0;
  margin: 0;
}

.fila_superior,
.fila_inferior {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* Responsive para móvil */
@media screen and (max-width: 600px) {
  .Contenido_de_lado_Consulta_juridica {
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
  }

  .Consulta_juridica {
    width: 100%;
    text-align: center;
  }

  .fila_superior,
  .fila_inferior {
    flex-direction: column;
    align-items: center;
  }

  .btn_nav {
    width: 100%;
    text-align: center;
  }
}

/**----FOOTER----**/

.footer{
    background-color: var(--color-azul);
    margin-top: auto;
    padding: 12px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.contenido_footer{
    display: flex;
    width: auto;
    justify-content: center;
    flex-direction: column;
}

.presentación_enlaces{
    display: flex;
    justify-content: center;
}

.footer_text_contenido{
    display: flex;
    color: var(--color-primario);
    align-items:baseline;
    position: initial;
    flex-wrap: wrap;
    gap: 20px;
}

.presentación__logo{
    display: flex;
    width: 50px;
    height:auto;
    flex-wrap: wrap;
    object-fit: contain;
}

.presentación__enlaces__iconos{
    justify-content: center;
    display: flex;
    width: 20%;
    height: auto;
    flex-wrap: wrap;
    object-fit: contain;
}

.derechos_de_autor_text .p_footer{
    position: initial;
    font-size: 34%;
    color: var(--color-primario);
    font-family: var(--fuente-calibri);
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

a[href^="mailto"],
a[href^="tel"] {
    color: var(--color-primario);
    text-decoration: none;
}